body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/healthinnovation/cusco/gh-pages/background/background.jpg");
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    background-size: cover;
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
}

body .page-columns {
    display: flex;
    gap: 0;
    align-items: center;
}


.img-fluid {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.grid {
    display: flex;
    align-items: center;
    margin-right: 6rem;
    margin-left: 2rem;
}



h5, .h5 {
    font-size: 1.2rem;
}

p {
  color: white;
}

.transparent-image {
    opacity: 0.9; /* Ajusta el valor entre 0 (totalmente transparente) y 1 (totalmente opaco) */
}
