@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

.navbar{
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: #000000;
}

.navbar-logo {
    max-height: 40px;
    width: auto;
    padding-right: 19px;
}


.card {
  background-color:#0909096b;
}


.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-title{
  color: white;
  font-style: bold;
}

.menu-text{
  color: white;
}




h5, .h5 {
    font-size: 1.2rem;
}